
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div id="myPlot" style="width:100%;max-width:700px;margin: auto;"></div>

<script>
var xValues = [];
var yValues = [];



for (var x = 0; x <= $(res); x += 1) {
  let mapped = x*2/$(res)
  xValues.push(mapped);
  yValues.push($(T)[x]);
//   yValues.push(x);
}
console.log(analitical)
console.log($(T))
// Define Data
var numer = {
  x: xValues,
  y: yValues,
  mode: "lines",
  name: "FEM"
};
var data = [numer]
if ( $(show_an) ){
  var xAnalitical = []
  var analitical = [];
  // Generate values
  for (var x = 0; x <= 50; x += 1) {
    let mapped = x*2/(50)
    xAnalitical.push(mapped);
    let u = Math.pow(mapped,5) - Math.pow(mapped,4) + Math.pow(mapped,3)-3*Math.pow(mapped,2)+2*mapped+1
    analitical.push(u);
    
  }
  var analitic = {
    x: xAnalitical,
    y: analitical,
    mode: "lines",
    name: "Analitical solution"
  };
  data.push(analitic)
}
// Define Layout
var layout = {title: "One Dimensional Heat Conduction"};

// Display using Plotly
Plotly.newPlot("myPlot", data, layout);
</script>
<div style="width:100%;max-width:400px;margin: auto;background-color: rgba(46, 81, 135, 0.219);text-align: center;">
  <form action="/codh" method="post">
  <label for="res">Number of points:</label><br>
  <input type="text" id="res" name="res" value=$(res)><br>
  <label for="show_an">Show analitical solution:</label>
  <input type="checkbox" id="show_an" name = "show_an" value="true" checked=$(show_an) ><br>
  <input type="submit" value="Submit" >
</form>
</div>



